
.testimonials {
   padding-top: 6rem;
   padding-bottom: 6rem;

   &__title {
      font-size: 3.8rem;
      font-weight: 700;
      color: $DarkBlue;
      margin-bottom: 12rem;
      text-align: center;

      @include responsive($breakpointTablet) {
         margin-bottom: 14rem;
         font-size: 4.6rem;
      }
   }
   
   &__grid {
      display: grid;
      grid-row-gap: 10rem;

      @include responsive($breakpointTablet) {
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 0 3rem;
      }
   }

   &__card {
      position: relative;
      background-color: $VaryLightGray;
      padding: 6.5rem 1.7rem 4rem;
   }

   &__image {
      width: 10rem;
      position: absolute;
      top: -6rem;
      left: 50%;
      transform: translateX(-50%);
   }

   &__name {
      color: $DarkBlue;
      font-weight: 700;
      display: block;
      text-align: center;
      font-size: 1.6rem;
   }

   &__description {
      text-align: center;
      margin-bottom: 0;
   }

   &__footer {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
   }

   &__link {
      @include button;
      font-size: 1.7rem;

      @include responsive($breakpointTablet) {
         font-size: 1.4rem;
      }
   }
}