
.button {
   display: inline-block;
   padding: 1.25rem 3rem;
   background-color: $BrightRed;
   border: none;
   color: $VaryLightGray;
   border-radius: 2rem;
   font-weight: 700;
   font-size: 1.2rem;
   -webkit-box-shadow: 0px 10px 15px -9px rgba(242,95,58,0.5);
   -moz-box-shadow: 0px 10px 15px -9px rgba(242,95,58,0.5);
   box-shadow: 0px 10px 15px -9px rgba(242,95,58,0.5);
}